#root{
  width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.upper{
  background-color: red;
  display: flex;
  height: 350px;
}
.upper-left{
  background-color: blue;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.bedroom-one{
  background-color: rgb(48, 128, 174);
  height: 250px;
}
.full-bath{
  background-color: rgb(52, 143, 79);
  height: 100px;
}
.upper-right{
  background-color: purple;
  display: flex;
  width: 60%;
}
.living-room{
  background-color: rgb(199, 168, 131);
  width: 70%;
}
.kitchen{
  background-color: rgb(230, 166, 37);
  width: 30%;
}
.lower{
  display: flex;
  height: 250px;
}
.bedroom-two{
  background-color: rgb(48, 128, 174);
  height: 250px;
  width: 40%;
}
.half-bath{
  background-color: rgb(52, 143, 79);
  height: 250px;
  width: 20%
}
.bedroom-three{
  background-color: rgb(48, 128, 174);
  height: 250px;
  width: 40%;
}
.appliances{
  background-color: red;
  display: flex;
  height: 50px;
}
.oven{
  background-color: rgb(150, 45, 45);
  width: 50%;
}
.sink{
  background-color: rgb(184, 94, 46);
  width: 50%;
}